
html,body {
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sidebar .nav-link {
    transition: color 0.3s, background-color 0.3s;
    color: #222;
    background-color: #f8f9fa;
}

#sidebar .nav-link:hover {
    background-color: #333;
    color: #f8f9fa;
}

#sidebar .nav-item {
    transition: color 0.3s, background-color 0.3s;
    color: #222;
    background-color: #f8f9fa;
}

#sidebar .nav-item.selected .btn-toggle {
    background-color: #333;
    color: #f8f9fa;

}

.bi-chevron-right {
    transition: transform 0.3s ease;
}

.selected .bi-chevron-right {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}


#sidebar .nav-item:hover {
    background-color: #333;
    color: #f8f9fa;
}

#sidebar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    width: 230px;
    background-color: #ffff;
    z-index: 1;
    flex: 0 0 25%;
    
}

.main-content {
    height: 87%;
    margin-left: 230px;
    margin-top: 0px;
    z-index: 0;
    position: relative;
}

.main-content iframe {
    width: 100%;
    height: 100%;
}

.btn-toggle {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0 !important;
    text-align: left;
    padding-left: 5px;
}

#sidebar.active {
    margin-left: -230px; /* Oculta el sidebar cuando se agrega la clase 'active' */
}

.main-content.sidebar-active {
    margin-left: 0; /* Ajusta el margen izquierdo del contenido principal cuando el sidebar está oculto */
}