
body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-row {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.table-row:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.table-row:active {
    transform: scale(0.995);
}

.navbar{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


/* Estilo personalizado para la posición del toast */
.toast-position {
	position: fixed;
	top: 80px;
	right: 10px;
  }
  
  /* Estilo personalizado para el contenedor del toast */
  #toast-container {
	width: 300px;
	height: auto;
	overflow: hidden;
  }

  #tabla-container{
	/* height: 320px; */
	overflow-x: auto;
  }
  



.accordion-content {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content p{
	margin:0;
}

.accordion-content img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 50%;
	height: auto;
}


@media (max-width: 767px) {
	.accordion-content {
		padding: 10px 0;
	}
}