body {
    background-color: #000120;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.card-header {
    background-color: #000121;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 30px;
}

.btn-dark {
    background-color: #000120;
    border-color: #000120;
}

.btn-dark:hover {
    background-color: #14142a;
    border-color: #14142a;
}