
body {
  
  background-color: #f8f9fa;
  
}
.navbar{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.card {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  height: 300px;
  overflow-x: auto;
}

thead.sticky-header th {
  position: sticky;
  top: 0;
}

.card-body p {
  display: inline-block;
  margin-right: 10px;
}

.card-body p:last-child {
  margin-right: 0;
}
